<html>
  <head>
  <style>
      body {
        background: <%= color %>;
      }
    </style>
  </head>
  <body>
    <form>
      <input type="text" name="guess">
      <input type="submit" value="Guess!">
    </form>
    <p><%= message %></p>
    <% if guessed %>
      <p>
        THE SECRET NUMBER is: <%= number %>
      </p>
    <% end %>
  </body>
</html